<footer class="footer">
    <div class="container">
        <ul class="list-inline">
          <li class="list-inline-item"><a class="social" href="https://twitter.com/daveedcis"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a class="social" href="https://github.com/davicitoafc"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a class="social" href="https://www.linkedin.com/in/davidcis/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
    </div>
  </footer>
